body {
  background-image: url(/assets/css/dragon-ball-super-1600-x-900-.jpg);
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed;
}
 
h1 {
  color: #ab960a;
  text-shadow: 5px 5px 6px rgba(0,0,0,0.2);

}


.card {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 0.5rem;
  max-width: 100%;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.card-img-top {
  max-height: 400px;         
  width: 100%;                
  object-fit: contain;       
  background-color: #f9f9f9;  
  padding: 10px;              
  border-radius: 10px 10px 0 0;
}

#message {
  font-weight: bold;
  font-size: 1.1rem;
}
