body {
  background-image: url(/assets/css/dragon-ball-super-1600-x-900-.jpg);
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed;
}
 
h1 {
  color: #ab960a;
  text-shadow: 5px 5px 6px rgba(0,0,0,0.2);

}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#message {
  font-weight: bold;
  font-size: 1.1rem;
}
